.flag-map-container {
    padding: 2rem;
    background: #00205b;
  
    .section-title {
      color: #ffcc00;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  
    .gm-style img {
      border-radius: 4px;
      box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    }
  }
  